.white_footer{
    background-color: var(--color-white);
}

.contentFooter-white{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contentFooter-white span{
    color: var( --color-title-light);
    font: 1.7rem Roboto;
}